body {
	text-align: center;}
h1 {
	font-family: 'Rufina', serif;
	font-size: 48px
	color: #ffffff;
	background: url("../images/rocks.jpg");
}
p {
	font-family: 'Open Sans', sans-serif;;
}
ul {
	font-family: 'Open Sans', sans-serif;
	float: right;
	display: block;
}
div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}
#boxa {
	background: #AEB19C;
}
#boxb {
	background: #AEB19C;
}
#boxc {
	background: #AEB19C;
}