body {
	text-align: center;}
h1 {
	font-family: 'Rufina', serif;
	font-size: 48px
	color: #ffffff;
	background: url("../images/rocks.jpg");
}
p {
	font-family: 'Open Sans', sans-serif;;
}
ul {
	font-family: 'Open Sans', sans-serif;
	float: right;
	display: block;
}