body {
	text-align: center;}
h1 {
	font-family: 'Rufina', serif;
	background: url(images/rocks.jpg);
	font-size: 48px
	color: #ffffff;
}
p {
	font-family: 'Open Sans', sans-serif;;
}
ul {
	font-family: 'Open Sans', sans-serif;
	float: right;
}