
body {
	text-align: center;
}
h1{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 32px;
}
h2{ font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 14px
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	color: black;
	text-decoration: none;
	font-family: 'Julius Sans One', sans-serif; 
}
li {
	display: block;
	float: right;
	padding-right: 15px;
}
p {
	font-family: 'Playfair Display SC', serif;
	text-align: center;
	font-size: 14px;
}
#logo { font-family: 'Julius Sans One', sans-serif; 
		display: block;
		float: left;
		padding-left: } 