body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background-color: #F6EEEB;
}
#wrapper {
	width: 80%;
	text-align: center;
	background-color: #cccccc
	border: 1px solid black;
	margin: auto auto;
}
header {
padding-bottom: 100px;
}
nav {
	float: right;
	padding: 10px;
	display: block;
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;	
}
a:hover {
	font-weight: bold;
	text-decoration: underline;
}
ul {
	display: inline;
	list-style: none;
 	padding: 0;
 	margin: 0;
}
li {
 display: block;
 float: left;
 padding-left: 1em;
}
footer {
	background-color: #000000;
	color: #ffffff;
	clear: both;
}
@media only screen and (min-width: 400px) {

	body {
		width: 80%;
		margin: auto;
	}
}
@media only screen and (max-width: 1130px) 	{
	body {
		font-size: 18px;
		width: 100%;
	}
	h1 {
		font-size: 3.5em;
	}
	nav {
		display: inline-block;
		float: none;
	}
	nav a {
		font-size: 1em;
		font-weight: normal;
		padding: .5em;
	}
	li {
		display: inline;
		padding: 1.2em;
	}
	header {
		padding: 1.2em;
	}