body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	width: 95%;
	text-align: center;
	background-color: #cccccc
	border: 1px solid black;
	margin: auto auto;
}
nav {
	float: right;
	padding: 10px;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;	
}
a:hover {
	font-weight: bold;
	text-decoration: underline;
}
ul {
	display: inline;
	list-style: none;
 	padding: 0;
 	margin: 0;
}
li {
 display: block;
 float: left;
 padding-left: 1em;
}

header {
background-image: url('../images/bread.jpg');
background-repeat: no-repeat;
padding-bottom: 100px;
background-position: center center;
}

h1 {
color: #326334;
font-family: 'Oswald', sans-serif;
font-size: 2em;
text-align: center;
}

header h1 {
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	text-align: center;
	margin-bottom: 0px;
}

header h2 {
  color: #ffffff;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-family: 1em;
  text-align: center;
  margin: 5%;
  display: inline-block;
}

h3 {
color: #326334;
font-family: 'Oswald', sans-serif;
font-family: 1.5em;
}

p {
color: #000000;
font-family: 'Montserrat', sans-serif;
font-family: 1em;
}

main {
float:left;
width:60%;
background:#ffffff;
font-family: 'Montserrat', sans-serif;
font-family: 1em;
color: white;
}

aside {
	float:right;
	width:250px;
	background:#F6EEEB;
	margin: auto;
}

footer {
	background-color: #000000;
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (min-width: 400px) {

	body {
		width: 80%;
		margin: auto;
	}
}
@media only screen and (max-width: 1130px) {

	body {
		font-size: 18px;
		width: 100%;
	}
	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-weight: normal;
	}
	nav {
		display: inline-block;
		float: none;
	}
	nav a {
		font-size: 1em;
		font-weight: normal;
		padding: .5em;
	}
	li {
		display: inline;
		padding: 1.2em;
	}
	header {
		padding: 1.2em;
	}
	footer a{
		font-size: 1em;
	}
	main {
		float: none;
		margin: auto;
	}
	aside {
		float: none;
		width: 100%;
		border-left: none;
		margin: auto;
	}
	#wrapper {
		width: 100%;
	}
}

