
body {
	text-align: center;

}
h1{
	font-family: 'Playfair Display SC', serif;
	text-align: center;
	font-size: 32px;}

img {text-align: center;}


h2{ font-family: 'Playfair Display SC', serif;
	text-align: center;
	font-size: 14px
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Playfair Display SC', serif;
}
li {
	display: block;
	float: right;
	padding-right: 15px;
}
main {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 14px;
}

#logo { font-family: 'Julius Sans One', sans-serif;
		display: block;
		float: left;
		padding-left: } 
div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;}

#boxa {background: #d3d3c3;}
#boxb {background: #d3d3c3;}
#boxc {background: #d3d3c3;}

span { 
font-weight: bold;
letter-spacing: .5em; }
footer {text-align: center;}
